body
{
background-size: cover;
text-align: center;
}

.heading{
    width: 100%;
font-size: x-large;
margin-top: 0%;
font-weight: bolder;}

.heading button{
    float: right;
}

.heading4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 30px;
}


.page-footer{
    background-color: red;
    height: 30px;
    margin-top: 30px;
    position: sticky;
    top: 100%;
}

